useDynLib(deTestSet)
export(andrews)
export(beam)
export(caraxis)
export(crank)
export(E5)
export(emep)
export(fekete)
export(hires)
export(nand)
export(orego)
export(pleiades)
export(pollution)
export(ring)
export(rober)
export(transistor)
export(tube)
export(twobit)
export(vdpol)
export(wheelset)
export(reference)

export(gamd)
export(dopri853)
export(dopri5)
export(cashkarp)
export(mebdfi)
export(dae)
#export(lagderiv, lagvalue)